.status-bar{
    align-items: flex-start!important;
    display: flex;
    margin-top: 2%;
    margin-left:30%
}

.head-line{
    color: #7790b6!important;
    font-size: 12px;
    margin-left: 20px;
}


.status-text{
    width:100%;
    font-size:1.5rem;
    flex:0 0 22rem;
}

.total-price{
    margin-right: 6%;

}

.deli{
    margin-top: 10px;
    border-top: 0.5px solid grey;
    text-align: right;
}

.deli-btn{
    margin-top:10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.info-box{
    line-height: 2.1rem;
    margin-top: 4%;
    margin-left: 30%;
}



th, td {  
    padding: 10px; 
}

.product-table {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.img-order {
    max-width: 5rem;
    width: 100%;
}

.name-order {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
}

.qty-order{
    text-align:center;
}


.price-order {
    text-align: center;
}

.tble-order{
    border-collapse: collapse;
}

.tble-main{
    display: block;
    width:40%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 12%);

    margin-top:4%;
    margin-left: 30%;
}

.tble-body{
    list-style: none;
}


@media only screen and (min-width:0px) and (max-width:400px){
    .status-bar{
        display: flex;
        flex-direction: column;
        margin-top: 6%;
        margin-left: 5%;
    }

    .info-box{
        margin-left: 5%;
    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 6rem;
    }

    .tble-main{
        display: block;
        width:100%;
        background: #fff;
        border-radius: none;
        box-shadow: none;
        margin-top:4%;
        margin-left: 0%;
    }

    th, td {  
        padding: 2px; 
    }
}


@media only screen and (min-width:401px) and (max-width:500px){
    .status-bar{
        display: flex;
        flex-direction: column;
        margin-top: 6%;

    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 6rem;
    }

    .tble-main{
        display: block;
        width:100%;
        border-radius: none;
        box-shadow: none;
        margin-top:4%;
        margin-left: 0%;
    }

    th, td {  
        padding: 2px; 
    }
}


@media only screen and (min-width:501px) and (max-width:600px){
    .status-bar{
        display: flex;
        margin-top: 6%;
        margin-left: 4%;
    }
    .info-box{ 
        margin-left: 4%;
    }
    

    .status-text{   
        font-size:1.4rem;
        flex:0 0 16rem;
    }

    .tble-main{
        display: block;
        width:100%;
        border-radius: none;
        box-shadow: none;
        margin-top:4%;
        margin-left: 4%;
    }

    th, td {  
        padding: 4px; 
    }
}


@media only screen and (min-width:601px) and (max-width:700px){
    .status-bar{
        display: flex;
        margin-top: 6%;
        margin-left: 4%;
    }

    .info-box{ 
        margin-left: 4%;
    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 16rem;
    }

    .tble-main{
        display: block;
        width:90%;
        border-radius: none;
        box-shadow: none;
        margin-top:4%;
        margin-left: 2%;
    }

    th, td {  
        padding: 2px; 
    }
}


@media only screen and (min-width:701px) and (max-width:900px){
    .status-bar{
        display: flex;
        margin-top: 6%;
        margin-left: 4%;
    }

    .info-box{ 
        margin-left: 4%;
    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 24rem;
    }

    .tble-main{
        display: block;
        width:90%;
        border-radius: none;
        box-shadow: none;
        margin-top:4%;
        margin-left: 4%;
    }

    th, td {  
        padding: 4px; 
    }
}


@media only screen and (min-width:1101px) and (max-width:1561px){
    .status-bar{
        display: flex;
        margin-top: 6%;
        margin-left: 6%;
    }

    .info-box{ 
        margin-left: 6%;
    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 26rem;
    }

    .tble-main{
        display: block;
        width:70%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgb(0 0 0 / 12%);
        margin-top:4%;
        margin-left: 6%;
    }

    th, td {  
        padding: 4px; 
    }
}


@media only screen and (min-width:901px) and (max-width:1100px){
    .status-bar{
        display: flex;
        margin-top: 6%;
        margin-left: 6%;
    }

    .info-box{ 
        margin-left: 6%;
    }

    .status-text{   
        font-size:1.4rem;
        flex:0 0 24rem;
    }

    .tble-main{
        display: block;
        width:90%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgb(0 0 0 / 12%);
        margin-top:4%;
        margin-left: 4%;
    }

    th, td {  
        padding: 4px; 
    }
}





