.quantity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.icon-minus {
  margin-right: 2rem;
  cursor: pointer;
}
.icon-plus {
  margin-left: 2rem;
  cursor: pointer;
}
