/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

.form .male {
  margin: 1.2rem 1rem;
}
.form .sex {
  flex-direction: row;
}
