.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 29rem;
  height: 51rem;
}

.card-body {
  padding: 1rem;
  word-break: break-all;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

.pic{
  width: 10%;
}
