/*
color  : xanh #203040
*/

html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

footer {
  grid-area: footer;
  background-color: #262626;
  color: #ffffff;
}

/* Common */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
  color: #262626;
}

a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
  display: list-item;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1em #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  border: 0.1rem black solid;
}
button.primary {
  background-color: #262626;
  color: white;
}
button.block {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Image */

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

.banner img {
  width: 100%;
}
/*slider*/
.slider {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

/*Alert*/
.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: blue;
  background-color: #e0e0ff;
}
.alert-danger {
  color: red;
  background-color: #ffe0e0e0;
}
.alert-success {
  color: #20a020;
  background-color: #e0fff7e0;
}
/* Pagination */

.pagination {
  padding: 0;
  margin: 0;
}
.pagination li {
  display: inline;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.pagination li.active {
  background-color: #4caf50;
  color: white;
}
.pagination li:hover:not(.active) {
  background-color: #ddd;
}

.pagination a {
  display: inline;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/*****/
